{% extends "_skel.html" %}
{% from "_formhelpers.html" import render_field %}
{% block content %}
<div class="w-full max-w-xs mx-auto">
    <form method="POST" class="bg-white shadow-md rounded px-8 pt-6 pb-4 mb-4 mt-4">
        <h3>Are you sure you want to log out?</h3>
        {{ form.csrf_token }}
        {{ render_field(form.submit, False) }}
        <p class="text-center text-xs">
            <a class="link" href="{{ url_for('main.index') }}">cancel</a>
        </p>
    </form>
</div>
{% endblock %}
