{% extends "_skel.html" %}
{% block title %}Register{% endblock %}
{% block header_width %}max-w-xs{% endblock %}
{% from "_formhelpers.html" import render_field %}
{% block content %}
<div class="w-full max-w-xs mx-auto">
    <form method="POST" class="card auth-form">
        {{ form.csrf_token }}
        {{ render_field(form.username) }}
        {{ render_field(form.password) }}
        {{ render_field(form.confirm) }}
        {{ render_field(form.submit, False) }}
    </form>
</div>
{% endblock %}
