{% extends "_skel.html" %}
{% block title %}Register{% endblock %}
{% from "_formhelpers.html" import render_field %}
{% block content %}
<div class="section card">
    <form method="POST" class="form form-narrow">
        {{ form.csrf_token }}
        {{ render_field(form.username) }}
        {{ render_field(form.tz) }}
        {{ render_field(form.password) }}
        {{ render_field(form.confirm) }}
        {{ render_field(form.submit, False, class_="btn btn-blue btn-wide btn-center") }}
    </form>
</div>

<script>
    var tz = Intl.DateTimeFormat().resolvedOptions().timeZone;
    var matched = Array.prototype.filter.call(
        document.getElementById("tz").options,
        (a) => a.value == tz
    )
    if (matched.length > 0) {
        document.getElementById("tz").value = matched[0].value
    }
</script>

{% endblock %}
