{% extends "_skel.html" %}
{% block content %}
<div class="max-w-xl mx-auto text-center card">
    <p class="italic">
        {{ accomplishment.text }}
    </p>
    <p class="mt-2 font-bold difficulty-{{ accomplishment.difficulty_class }}">({{ accomplishment.difficulty }}
        XP)
    </p>
</div>
<div class="max-w-lg mx-auto text-center card">
    <h3 class="text-lg">Are you sure you want to remove this accomplishment?</h3>
    <form class="mt-2" method="POST">
        {{ form.csrf_token }}
        {{ form.submit(class_="hover:bg-red-500 bg-red-700 text-white") }}
        <a href="{{ cancel }}" class="block mt-2 text-sm text-blue-700 hover:text-blue-500">cancel</a>
    </form>
</div>
{% endblock %}
