<!DOCTYPE html>
<html>

<head>
    {% block head %}
    <title>{% block title %}{% endblock %} - DoneTh.at</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ static_url_for('static', filename='style.css') }}">
    <script src="{{ static_url_for('static', filename='js/turbolinks/turbolinks.js') }}"></script>
    <link rel="manifest" href="{{ static_url_for('static', filename='manifest.json') }}">
    <meta name="apple-mobile-web-app-title" content="DoneTh.at">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" href="{{ static_url_for('static', filename='icons/icon-180.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ static_url_for('static', filename='icons/icon-120.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ static_url_for('static', filename='icons/icon-180.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ static_url_for('static', filename='icons/icon-152.png') }}">
    <link rel="apple-touch-icon" sizes="167x167" href="{{ static_url_for('static', filename='icons/icon-167.png') }}">
    <link rel="icon" type="image/png" href="{{ static_url_for('static', filename='icons/icon-32.png') }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ static_url_for('static', filename='icons/icon-128.png') }}"
        sizes="128x128">
    <link rel="icon" type="image/png" href="{{ static_url_for('static', filename='icons/icon-152.png') }}"
        sizes="152x152">
    <link rel="icon" type="image/png" href="{{ static_url_for('static', filename='icons/icon-167.png') }}"
        sizes="167x167">
    <link rel="icon" type="image/png" href="{{ static_url_for('static', filename='icons/icon-180.png') }}"
        sizes="180x180">
    <link rel="icon" type="image/png" href="{{ static_url_for('static', filename='icons/icon-192.png') }}"
        sizes="192x192">
    <link rel="icon" type="image/png" href="{{ static_url_for('static', filename='icons/icon-196.png') }}"
        sizes="196x196">
    <link rel="icon" type="image/png" href="{{ static_url_for('static', filename='icons/icon-256.png') }}"
        sizes="256x256">
    <link rel="icon" type="image/png" href="{{ static_url_for('static', filename='icons/icon-228.png') }}">
    <link rel="icon" type="image/png" href="{{ static_url_for('static', filename='icons/icon-512.png') }}"
        sizes="512x512">
    <link rel="shortcut icon" href="{{ static_url_for('static', filename='icons/favicon.ico') }}">
    {% endblock %}
</head>

<body>
    {% block body %}
    <div class="container mx-auto content">
        <div class="card {% block header_width %}max-w-lg{% endblock %} mx-auto text-center ">
            <h1 class="text-5xl"><a href="{{ url_for('main.index') }}">DoneTh.at</a></h1>
            {% block header_user %}
            {% if current_user.is_authenticated %}
            <p>Hi <span class="font-mono">{{ current_user.username }}</span>!</p>
            <p>
                <span class="pr-1"><a class="text-xs link" href="{{ url_for('main.index') }}">Home</a></span>
                <span class="px-1"><a class="text-xs link" href="{{ url_for('settings.settings') }}">Settings</a></span>
                <span class="pl-1"><a class="text-xs link" href="{{ url_for('auth.logout') }}">Log
                        out</a></span>
            </p>
            {% else %}
            <p>
                <span class="pr-1"><a class="text-xs link" href="{{ url_for('main.index') }}">Home</a></span>
                <span class="px-1"><a class="text-xs link" href="{{ url_for('auth.login') }}">Log in</a></span>
                <span class="pl-1"><a class="text-xs link" href="{{ url_for('auth.register') }}">Register</a></span>
            </p>
            {% endif %}
            {% endblock %}
        </div>
        {% block content %}
        {% endblock %}
        <div class="pt-4 mb-8 text-xs text-center">
            Made with ❤️ by <a href="https://irth.pl" class="text-blue-700">Wojciech ~irth Kwolek</a>
        </div>
    </div>
    {% endblock %}
</body>

</html>
