{% extends "_skel.html" %}
{% block title %}Welcome{% endblock %}
{% block content %}
<div class="max-w-lg m-auto card">
    <h3 class="text-2xl text-center">Welcome!</h3>
    <p>
        DoneTh.at is a website that allows you to:
        <ul class="pl-4 list-disc">
            <li>track your daily accomplishments,</li>
            <li>keep a daily goal,</li>
            <li>have a more objective outlook on your day-to-day productivity!</li>
        </ul>
        <!-- TODO: what have you accomplished but on homepage, where it stores your accomplishment in session and asks you to log in or sign up -->
    </p>
</div>

<div class="screencap section section-wider">
    <img src="{{ static_url_for('static', filename='screencap.png') }}">
</div>

<div class="text-center section card">
    <h2 class="mb-4 text-2xl">Interested?</h2>
    <p class="mb-4">
        <a href="{{ url_for('auth.register') }}" class="btn btn-blue btn-inline">
            Sign up</a> <span class="px-1">or</span> <a href="{{ url_for('auth.login') }}" class="link">log in</a>.
    </p>
</div>
{% endblock %}
